body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
}

h1 {
    text-align: center;
    font-family: 'Handlee', cursive;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.table th {
    background-color: #f2f2f2;
    font-family: 'Handlee', cursive;
}

.text-primary {
    color: #007bff;
}

.text-secondary {
    color: #6c757d;
}

/* Stil für die Box */
.date-box {
    border-radius: 10px;
    padding: 15px;
    background-color: #add8e6;
    margin: 20px auto; /* Zentrierung und äußerer Abstand */
    max-width: 500px;
}

/* Stil für das Datum-Eingabefeld */
.date-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #007bff;
    border-radius: 5px;
    margin-bottom: 10px; /* Abstand zwischen den Eingabefeldern */
}

/* Anpassungen für den "Termin hinzufügen"-Button */
.date-button {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 10px; /* Abstand zwischen dem letzten Eingabefeld und dem Button */
}


/* Stil für den Button-Hover-Effekt */
.date-button:hover {
    background-color: #0056b3;
}

.date-box form {
    display: flex;
    align-items: center;
}

.date-box label {
    margin-right: 10px;
}

.date-input[name="terminName"],
.date-input[name="terminDatum"] {
    border: none;
    padding: 8px;
    border-radius: 5px;
}

.date-input[name="terminName"] {
    width: 150px;
}

.date-input[name="terminDatum"] {
    width: auto;
}


.date-box form .date-input[name="terminUhrzeit"] {
    width: auto;
    border: #fff;
}

.btn .btn-primary{
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 10px; /* Abstand zwischen dem letzten Eingabefeld und dem Button */
}

.update-btn{
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 10px; /* Abstand zwischen dem letzten Eingabefeld und dem Button */
    text-align: center;
}

.delete-btn{
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 10px; /* Abstand zwischen dem letzten Eingabefeld und dem Button */
    text-align: center;
}

.anzeige-box{
    border-radius: 10px;
    padding: 15px;
    background-color: #add8e6;
    margin: 20px auto; /* Zentrierung und äußerer Abstand */
    max-width: 400px; /* Maximale Breite der Box */
    margin-top: 250px;
}